<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_PaypalExpress>
            <version>0.0.1</version>
        </MageProfis_PaypalExpress>
    </modules>
    <global>
        <helpers>
            <mppaypalexpress>
                <class>MageProfis_PaypalExpress_Helper</class>
            </mppaypalexpress>
        </helpers>
        <blocks>
            <mppaypalexpress>
                <class>MageProfis_PaypalExpress_Block</class>
            </mppaypalexpress>
        </blocks>
        <models>
            <mppaypalexpress>
                <class>MageProfis_PaypalExpress_Model</class>
            </mppaypalexpress>
        </models>
        <events>
            <controller_action_predispatch_paypal_express_placeOrder>
                <observers>
                    <mageprofis_paypalexpress_check_agreements>
                        <class>mppaypalexpress/observer</class>
                        <method>checkAgreements</method>
                    </mageprofis_paypalexpress_check_agreements>
                </observers>
            </controller_action_predispatch_paypal_express_placeOrder>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mppaypalexpress>
                                            <title>Mageprofis PayPalExpress</title>
                                        </mppaypalexpress>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <mppaypalexpress>
                    <file>mageprofis-paypalexpress.xml</file>
                </mppaypalexpress>
            </updates>
        </layout>
    </frontend>
</config>